$tiger-orange: #e58e1c;
$blackish: #212121;
$whiteish: #ebebeb;

$background-color: white;
$primary-color: $tiger-orange;
$text-color: $blackish;
$text-color-inverse: $whiteish;
$quiet-color: lighten( $blackish, 10% );
$loud-color: darken( $blackish, 10% );
