<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'/>
    <title>Valley Drama Family</title>
</head>
<body>

<header>
    <h1>Valley High School Drama</h1>
</header>

<nav>
    <header>
        <h2>Navigation</h2>
    </header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/the_play">The Play</a></li>
        <li><a href="/how_you_can_help">How You Can Help</a></li>
        <li><a href="/other_opps">Other Drama Opportunities</a></li>
        <li><a href="/expectations">Drama Family Expectations</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/booster_club">Booster Club</a></li>
        <li><a href="/family_photos">Family Photos</a></li>
    </ul>
</nav>

<main>
    {{ content }}
</main>

</body>
</html>
